@model Ins_BiznesOverdraft
@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_ProsessLayout.cshtml";
}

<h1>Info</h1>

<div class="container-fluid">
    <div class="card card-primary">
        <div class="card-header">
            Proses info
        </div>
    </div>
    <div class="card card-body">
        <table class="table table-striped table-valign-middle">
            <thead>
                <tr>
                    <th>varible name</th>
                    <th>value</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in typeof(Ins_BiznesOverdraft).GetProperties())
                {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.GetValue(Model)</td>
                </tr>
                }
            </tbody>
        </table>
    </div>

 </div>