@model Ins_BiznesOverdraft
@{
    ViewData["Title"] = "Step2";
    Layout = "~/Views/Shared/_ProsessLayout.cshtml";
    var list = Model.FileNames.Split("*");
}


<div class="container-fluid">
   
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Prosess</h3>
            <a target="_blank" asp-controller="BiznesOverdraft" asp-action="Info" asp-route-id="@Model.Id">Proses info</a>
        </div>
        <div class="card-body">
            @foreach (var item in list)
            {
            <a asp-action="Download"
               asp-route-filename="@item">
                @item
            </a><br />
            }
        </div>
        <div class="card-footer">
            <form method="post">
                
                    <button asp-action="Step2End" asp-route-id="@Model.Id" asp-controller="BiznesOverdraft" type="submit" class="btn btn-primary">Tesdiqe gonder</button>
                    <button asp-action="Stop" asp-route-id="@Model.Id" asp-controller="BiznesOverdraft" type="submit" class="btn btn-danger">Prosesi dayandır</button>
            </form>
        </div>


    </div>
</div>


